@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins", sans-serif;
  color: inherit;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navigation {
  /* width: ; */
  width: 288px;
  padding-top: 40px;
}

.navigation .navbar li button,
ul li a,
  .navigation .navbar li a{
  margin-bottom: 25px;
  padding: 2px 0;
  color: #7C8DB5;
}

.navigation .navbar li.active {
  /* border-right: 4px solid #347AE2; */
  box-shadow: inset 226px 0 0 #fff;
  border-radius: 4px 0 0 4px;
  color: #347AE2;
  background: #347AE2;
}

.navigation .navbar li.active a {
  color: #347AE2;
}
